*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.tartalom{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.bmi{
    width: 60%;
    height: 800px;
    background-color: rgb(204, 160, 38);
}
.adatok{
    display: block;
}
.magassag{
    display: flex;
    justify-content: space-around;
}
.suly{
    display: flex;
    justify-content: space-around;
}
h1{
    color: white;
}